@*
*@
@{
}

@model IEnumerable<Phone>


@{
}
@if (Model is not null)
{


    <div id="alttablo">
        <div id="satir">
            <div id="sutun" class="sutun1"></div>
            <div id="sutun" class="sutun2">
                <div id="tablo">
                    <style>
                        #tablo .fiyat {
                            height: 325px;
                        }

                            #tablo .fiyat a.fiyat {
                                height: 100px;
                            }
                    </style>
                    <div id="satir" class="font16 tcenter bold">
                        <div id="sutun" class="ozellik">
                        </div>
                        @foreach (var item in Model)
                        {
                            <div id="sutun" class="deger deger0 urunid939542" style="position:relative">
                                <span style="position:relative">
                                    <a >@item.Name</a>
                                </span>
                                <span style="position:relative; display:block; margin-top:30px;">
                                    <a ><span style="border:solid;">@item.Seller<span style="margin-left:30px;">@item.Price TL</span></span> </a>
                                </span>
                            </div>
                        }


                    </div>
                    <div id="satir" class="tcenter radi">
                        <div id="sutun" class="ozellik"></div>
                        @foreach (var item in Model)
                        {
                            <div id="sutun" class="deger deger0 urunid939542">
                                <a  title="Samsung Galaxy M35 Özellikleri"><img src="/@item.ImagePath" style="max-width:200px"></a>
                                <div class="genislik"></div>
                            </div>
                        }


                    </div>
                    <div id="satir" class="rpuan">
                        <div id="sutun" class="ozellik"></div>
                        <div id="sutun" class="deger deger0 urunid939542 tcenter">
                        </div>
                        <div id="sutun" class="deger deger1 urunid928247 tcenter">
                        </div>
                    </div>


                    <div id="satir" class="kisim">
                        <div id="sutun" class="ozellik">TÜM ÖZELLİKLER <strong class="fark"></strong></div> @for (int i = 0; i < Model.Count(); i++)
                        {
                            <div id="sutun" class="deger deger6 urunid940912">&nbsp;</div>
                        }
                    </div>
                    <div id="satir" class="grup farkli">
                        <div id="sutun" class="ozellik"><img src="https://resim.epey.com/grup/ekran-1.png"><strong>EKRAN</strong></div> @for (int i = 0; i < Model.Count(); i++)
                        {
                            <div id="sutun" class="deger deger6 urunid940912">&nbsp;</div>
                        }
                    </div>
                    <div id="satir" class="tum farkli">
                        <div id="sutun" class="ozellik tip ozellik1">Ekran Boyutu</div>
                        @foreach (var item in Model)
                        {
                            <div id="sutun" class="deger deger urunid939542">
                                <span style="display:block;" class="@(item.PhoneScreenSpecsScreenSize == Model.Max(u=>u.PhoneScreenSpecsScreenSize)?"eniyi":"")">
                                    <a  title="6.6 İnç Ekranlı Telefonlar">@item.PhoneScreenSpecsScreenSize İnç</a>
                                </span>
                            </div>

                        }


                    </div>
                  
                    <div id="satir" class="tum farkli">
                        <div id="sutun" class="ozellik tip ozellik3">Ekran Çözünürlüğü</div>
                        @foreach (var item in Model)
                        {
                            <div id="sutun" class="deger deger urunid939542">
                                <span style="display:block;" class="@(item.PhoneScreenSpecsScreenResolution == Model.Max(u=>u.PhoneScreenSpecsScreenResolution)?"eniyi":"")">
                                    <a href="https://www.epey.com/akilli-telefonlar/ekran-cozunurlugu/1080x2340-fhd-plus/" title="1080x2340 (FHD+) Piksel Ekran Çözünürlüklü Telefonlar">@item.PhoneScreenSpecsScreenResolution Piksel</a>
                                </span>
                            </div>

                        }

                    </div>


                    <div id="satir" class="tum farkli">
                        <div id="sutun" class="ozellik ">Ekran Yenileme Hızı</div>
                        @foreach (var item in Model)
                        {
                            <div id="sutun" class="deger deger urunid939542">
                                <span style="display:block;" class="@(item.PhoneScreenSpecsScreenRefreshRate == Model.Max(u=>u.PhoneScreenSpecsScreenRefreshRate)?"eniyi":"")">
                                    <a href="https://www.epey.com/akilli-telefonlar/ekran-yenileme-hizi/120/" title="120 Hz Ekran Yenileme Hızına Sahip Telefonlar">@item.PhoneScreenSpecsScreenRefreshRate Hz</a>
                                </span>
                            </div>

                        }

                    </div>

                    <div id="satir" class="grup farkli">
                        <div id="sutun" class="ozellik"><img src="https://resim.epey.com/grup/batarya-2.png"><strong>BATARYA</strong></div> @for (int i = 0; i < Model.Count(); i++)
                        {
                            <div id="sutun" class="deger deger6 urunid940912">&nbsp;</div>
                        }
                    </div>
                    <div id="satir" class="tum farkli">
                        <div id="sutun" class="ozellik tip ozellik7">Batarya Kapasitesi (Tipik)</div>
                        @foreach (var item in Model)
                        {
                            <div id="sutun" class="deger deger urunid939542">
                                <span style="display:block;" class="@(item.PhoneBatterySpecsBatteryCapacity== Model.Max(u=>u.PhoneBatterySpecsBatteryCapacity)?"eniyi":"")">
                                    <a href="https://www.epey.com/akilli-telefonlar/batarya-kapasitesi-tipik/6000/" title="6000 mAh Batarya (Pil) Gücüne Sahip Telefonlar">@item.PhoneBatterySpecsBatteryCapacity mAh</a>
                                </span>
                            </div>

                        }

                    </div>

                    <div id="satir" class="tum ayni">
                        <div id="sutun" class="ozellik">Hızlı Şarj</div>
                        @foreach (var item in Model)
                        {
                            <div id="sutun" class="deger deger urunid939542">
                                <span style="display:block;" class="@(item.PhoneBatterySpecsFastCharging==1?"Var":"Yok")">
                                    <a href="https://www.epey.com/akilli-telefonlar/hizli-sarj/var/" title="Hızlı Şarj Özelliği Olan Telefonlar">@(item.PhoneBatterySpecsFastCharging == 1 ? "Var" : "Yok")</a>
                                </span>
                            </div>

                        }

                    </div>

                    <div id="satir" class="tum farkli">
                        <div id="sutun" class="ozellik tip ozellik6593">Hızlı Şarj Gücü (Maks.)</div>
                        @foreach (var item in Model)
                        {
                            <div id="sutun" class="deger deger urunid939542 h40">
                                <span style="display:block;" class="@(item.PhoneBatterySpecsChargingSpeed== Model.Max(u=>u.PhoneBatterySpecsChargingSpeed)?"eniyi":"")">
                                    <a href="https://www.epey.com/akilli-telefonlar/hizli-sarj-gucu-maks/25w/" title="25 W Hızlı Şarj Desteği Olan Telefonlar">@item.PhoneBatterySpecsChargingSpeed W</a>
                                </span>
                            </div>

                        }

                    </div>

                    <div id="satir" class="grup farkli">
                        <div id="sutun" class="ozellik"><img src="https://resim.epey.com/grup/kamera-5.png"><strong>KAMERA</strong></div> @for (int i = 0; i < Model.Count(); i++)
                        {
                            <div id="sutun" class="deger deger6 urunid940912">&nbsp;</div>
                        }
                    </div>
                    <div id="satir" class="tum farkli">
                        <div id="sutun" class="ozellik tip ozellik19">Kamera Çözünürlüğü</div>
                        @foreach (var item in Model)
                        {
                            <div id="sutun" class="deger deger urunid939542">
                                <span style="display:block;" class="@(item.PhoneCameraSpecsCameraResolution== Model.Max(u=>u.PhoneCameraSpecsCameraResolution)?"eniyi":"")">
                                    <a href="https://www.epey.com/akilli-telefonlar/kamera-cozunurlugu/50/" title="50 MP Kamera Çözünürlüğüne Sahip Telefonlar">@item.PhoneCameraSpecsCameraResolution MP</a>
                                </span>
                            </div>

                        }

                    </div>


                    <div id="satir" class="tum farkli">
                        <div id="sutun" class="ozellik tip ozellik70">Video FPS Değeri</div>
                        @foreach (var item in Model)
                        {
                            <div id="sutun" class="deger deger urunid939542">
                                <span style="display:block;" class="@(item.PhoneCameraSpecsCameraFps== Model.Max(u=>u.PhoneCameraSpecsCameraFps)?"eniyi":"")">
                                    <a href="https://www.epey.com/akilli-telefonlar/video-fps-degeri/30/" title="30 fps Video Kaydı Yapabilen Telefonlar">@item.PhoneCameraSpecsCameraFps FPS</a>
                                </span>
                            </div>

                        }

                    </div>

                    <div id="satir" class="tum farkli">
                        <div id="sutun" class="ozellik tip ozellik70">Camera Zoom Değeri</div>
                        @foreach (var item in Model)
                        {
                            <div id="sutun" class="deger deger urunid939542">
                                <span style="display:block;" class="@(item.PhoneCameraSpecsCameraZoom== Model.Max(u=>u.PhoneCameraSpecsCameraZoom)?"eniyi":"")">
                                    <a href="https://www.epey.com/akilli-telefonlar/video-fps-degeri/30/" title="30 fps Video Kaydı Yapabilen Telefonlar">@item.PhoneCameraSpecsCameraZoom X</a>
                                </span>
                            </div>

                        }

                    </div>

                </div>
            </div>
        </div>
    </div>




}


